@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

code {
  font-family: "Roboto", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #6f7cb2;
}

h1 {
  font-size: 50px !important;
  font-weight: 500 !important;
  line-height: 66px !important;
}

h2 {
  font-size: 36px !important;
  font-weight: 500 !important;
  line-height: 48px !important;
}

h3 {
  font-size: 26px !important;
  font-weight: 900 !important;
  line-height: 38px !important;
}

h4 {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #505f98 !important;
  line-height: 30px !important;
}

h5 {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #6f7cb2 !important;
  line-height: 26px !important;
}

h6 {
  font-size: 14px !important;
  font-weight: 400 !important;
}

p {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.nav-link {
  color: #505f98 !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.nav-link:hover,
.active {
  color: #505f98 !important;
  font-weight: 800 !important;
  font-size: 15px !important;
}

.btn {
  border-radius: 2px !important ;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}
.btn-primary,
.btn-outline-primary:hover {
  background-color: #111b47 !important;
  border: none !important;
  color: #ffffff !important;
}

.btn-outline-primary,
.btn-primary:hover {
  border: 2px solid #091133 !important;
  color: #091133 !important;
  background-color: #ffffff !important;
}

.footer {
  background-color: #e7ecff;
  padding: 70px 190px 50px 190px;
}

.footer .btn,
.navbar .btn {
  font-size: 12px !important;
  height: 28px !important;
}

.footer .nav-link {
  color: #929ecc !important;
}

.navbar {
  background: transparent !important;
  z-index: 10 !important;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

.landing-section {
  position: relative;
  z-index: 1;
  margin: 0;
}
.landing-section .btn {
  width: 190px !important;
  height: 36px !important;
}

.text-section {
  padding-top: 100px;
  background: transparent;
  z-index: 10;
}

.hero-section-1 {
  padding-left: 120px;
  position: relative;
  padding-bottom: 20rem;
  padding-right: 0px;
}

.image-wrapper {
  position: relative;
  overflow: visible; /* Allows image to overflow outside of the column */
}

.hero-image {
  width: 135% !important;
  height: auto !important;
  position: absolute !important;
  top: -100px !important;
  right: 0px !important;
  z-index: 1 !important;
  opacity: 0.9 !important;
}

.hero-sections {
  padding-left: 120px;
  padding-right: 120px;
}
.hero-section-2 {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.hero-section-3,
.hero-section-4,
.hero-section-5 {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.hero-sections .text-section {
  background: transparent;
  z-index: 10;
  margin-bottom: 5rem;
}
.hero-section-2 .row {
  gap: 0rem;
}

.shape {
  width: 36px;
  height: 36px;
}
.hero-section-6 {
  width: 100vw;
  overflow: hidden;
  margin: 55px 0 0 0;
}

.hero-section-6 .card {
  background-color: #f3f5ff;

  padding-top: 200px;
  padding-bottom: 170px;
  text-align: center;
  width: 100vw;
  border-radius: 0;
  margin: 0;
  clip-path: path("M 0,0 C 600,50 800,50 1300,0 L 1400,1000 L 0,1000 Z");
  margin-bottom: 0;
}
.hero-section-6 .btn {
  padding-bottom: 15px !important;
  height: 32px !important;
  justify-content: center !important;
  align-items: center !important;
}

@media (max-width: 1200px) {
  .hero-section-1 {
    padding-bottom: 4rem;
  }

  .hero-sections .text-section {
    margin-bottom: 0rem;
  }

  .hero-section-2,
  .hero-section-3,
  .hero-section-4,
  .hero-section-5 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hero-section-6 .card {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media (max-width: 992px) {
  .hero-section-1 {
    padding-left: 70px;
  }
  .hero-sections {
    padding-left: 70px;
    padding-right: 70px;
  }
  .text-section {
    padding-top: 60px;
  }
  .hero-image {
    width: 135%;

    top: -80px;
    right: 0px;
    z-index: 1;
    opacity: 0.9;
  }
  .hero-section-2,
  .hero-section-3,
  .hero-section-4,
  .hero-section-5 {
    padding-bottom: 1rem;
  }

  .hero-section-6 {
    margin: 20px 0 0 0;
  }
  .hero-section-6 .card {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }

  h2 {
    font-size: 22px !important;
    line-height: 30px !important;
  }

  h3 {
    font-size: 26px !important;
    line-height: 24px !important;
  }
  h4 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  h5 {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  h6 {
    font-size: 12px !important;
  }
  p {
    font-size: 10px !important;
  }

  .nav-link {
    font-size: 14px !important;
  }
  .btn {
    font-size: 14px !important;
  }

  .footer {
    padding: 20px;
  }
  .hero-section-1,
  .hero-sections {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-section-2,
  .hero-section-3,
  .hero-section-4,
  .hero-section-5 {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  .text-section {
    padding-top: 25px;
  }
  .image-wrapper {
    display: none;
  }
  .hero-image {
    width: 50% !important;
    height: auto !important;

    top: 0px !important;
    opacity: 0.2 !important;
    right: 0px !important;
  }
  .hero-image-2 {
    position: absolute !important;
    width: 50% !important;
    height: auto !important;
    right: 0 !important;
    top: 30px !important;
    z-index: 1 !important;
    opacity: 0.2 !important;
  }
  .hero-section-6 .card {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
